<div class="settings">
    <div class="settings-group general-settings">
        <h3>{{localize "CMPBrowser.generalSettings"}}</h3>
        <label>
            <input data-setting="allow-item-browser" data-type="Item" type="checkbox" {{#if settings.allowItemBrowser}}checked{{/if}}>
             {{localize "CMPBrowser.allowItemAcc"}}
        </label>
        <label>
            <input data-setting="allow-spell-browser" data-type="Spell" type="checkbox" {{#if settings.allowSpellBrowser}}checked{{/if}}>
            {{localize "CMPBrowser.allowSpellAcc"}}
        </label>
        <label>
            <input data-setting="allow-feat-browser" data-type="Feat" type="checkbox" {{#if settings.allowFeatBrowser}}checked{{/if}}>
            {{localize "CMPBrowser.allowFeatAcc"}}
        </label>        
        <label>
            <input data-setting="allow-actor-browser" data-type="Actor" type="checkbox" {{#if settings.allowActorBrowser}}checked{{/if}}>
            {{localize "CMPBrowser.allowActorAcc"}}
        </label>
        <label>
            <input data-setting="allow-rolltable-browser" data-type="Rolltable" type="checkbox" {{#if settings.allowRolltableBrowser}}checked{{/if}}>
            {{localize "CMPBrowser.allowRolltable"}}
        </label>
        <label>
            <input data-setting="allow-scene-browser" data-type="Scene" type="checkbox" {{#if settings.allowSceneBrowser}}checked{{/if}}>
            {{localize "CMPBrowser.allowScene"}}
        </label>
        <label>
            <input data-setting="allow-journalentry-browser" type="checkbox" {{#if settings.allowRolltableBrowser}}checked{{/if}}>
            {{localize "CMPBrowser.allowJournalEntry"}}
        </label>
    </div>
    
    {{#each settings.loadedCompendium as |Comp key|}}
        <div class="settings-group" data-entity-type="{{key}}">
            <h3>{{localize "CMPBrowser.load"}} {{key}} Compendium</h3>
        
            {{#each Comp as |entityComp entityKey|}}
                <label>
                    <input data-setting="item-compendium-setting" data-key="{{entityKey}}" data-type="{{entityKey}}" type="checkbox"{{#if Comp.load}}checked{{/if}}>
                    <h4>{{entityComp.name}}</h4>
                </label>
            {{/each}}
        </div>
    {{/each}}
</div>